/eft-dma-radar/bin
/eft-dma-radar/obj
/eft-dma-shared/bin
/eft-dma-shared/obj
eft-dma-radar/eft-dma-radar.csproj.user
.vs/eft-dma-radar/DesignTimeBuild/.dtbcache.v2
.vs/eft-dma-radar/FileContentIndex/03e8c11f-6cc7-4678-8882-1b5d53ffbd29.vsidx
.vs/eft-dma-radar/FileContentIndex/0e043d2f-33ae-432f-b2d9-b1d9303002f1.vsidx
.vs/eft-dma-radar/FileContentIndex/6f51cb49-9f00-41b8-9825-de2565ce534f.vsidx
.vs/eft-dma-radar/v17/.futdcache.v2
.vs/eft-dma-radar/v17/.suo
.vs/eft-dma-radar/v17/DocumentLayout.backup.json
.vs/eft-dma-radar/v17/DocumentLayout.json
.vs/ProjectEvaluation/eft-dma-radar.metadata.v9.bin
.vs/ProjectEvaluation/eft-dma-radar.projects.v9.bin
.vs/ProjectEvaluation/eft-dma-radar.strings.v9.bin
.vs/eft-dma-radar/FileContentIndex/afe7e03d-5b1e-4f5a-a47f-2899c9f9a5b4.vsidx
*.vsidx
.vscode/launch.json
.vscode/tasks.json
/.vs
*.tmp
eft-dma-radar/Properties/PublishProfiles/FolderProfile.pubxml.user
eft-dma-radar/Properties/PublishProfiles/FolderProfile.pubxml
